<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input [(ngModel)]="user.name" name="name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="user.username" name="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Celular ou Telefone</ion-label>
    <ion-input [(ngModel)]="user.phone" name="phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
  </ion-item>
  <ion-button (click)="submit()" expand="full">{{ title }}</ion-button>
  <ion-button *ngIf="flagEdit" (click)="delete()" expand="full">Delete</ion-button>
</ion-content>
